.experience-header {
    color: black;
    width: 350px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 45px;
}
#carousel {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner {
    text-align: center;
    width: 70%;
    margin: auto;
}


.carousel-inner h1 {
    color: #1a8cff;
    font-weight: 700;
}
.carousel-inner p {
    color: black;
    margin-bottom: 13%;
}

.carousel-indicators li {
    background-color: #1a8cff;
    opacity: 0.5;
}

.carousel-indicators li.active {
    background-color: #1a8cff;
    opacity: 1;
}

.glyphicon {
    text-shadow: 1px 1px 1px #1a8cff;

}
@media screen and (max-width: 768px) {
    .experience-header {
        font-size: 40px;
        width: 300px;
    }
    
    #carousel {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .experience-header {
        font-size: 35px;
        width: 280px;
    }
    #carousel {
        width: 100%;
    }
}




