

/*when screen is small, edit boris yue title
*/#name {
	margin-left: -5%;
}


.image-collage {
	left: 0;
	width: 74%;
	margin: auto;
}

.about-header {
	top: 400px;
	left: 0;
	margin: auto;
	font-size: 35px;
	width: 280px;
}
.about-header p {
	width: 135%;
	margin-left: -18%;
}
.two-lines {
    height: 30px;
    border-bottom: 2px solid black;
    }
