#home-header {
	margin-top: 25%;
}

.nav-bar{
	height: 7%
}

.image-collage {
	margin-top: -5%;
	margin-left: 5%;
	width: 42%;

}
#about-header {
	margin-top: 5%;
	width: 40%;
}

#resume {
	top: 188%;
}
