

.image-collage {
	margin-left: 5%;
	width: 42%;

}
.about-header {
	margin-top: 100px;
	width: 320px;
	font-size: 42px;
}
.about-header p {
	width: 420px;
}


@media screen and (max-width:870px) {
	.about-header {
		margin-left: 48%;
		margin-top: 70px;
		font-size: 41px;
	}
    .about-header p {
        width: 360px;
        margin-left: -20px;
        font-size: 16px;
    }
    .image-collage {
        width: 46%;
        margin-left: 2%;
    }
}


