/*collapse all buttons except boris yue
*/
ul.nav-bar li:not(:first-child) {
	display: none;
}

/*make dropdown icon visible
*/
ul.nav-bar li.icon {
    float: right;
    display: inline-block;
}

ul.nav-bar.responsive {
	position: fixed;
}
ul.nav-bar.responsive li.icon {
	position: absolute;
	right: 0;
	top: 0;
}
ul.nav-bar.responsive li {
	float: none;
	display: inline;
}
ul.nav-bar.responsive li a {
	display: block;
	text-align: left;

}


.fa {
	margin-top: 1.5%;
}
#name {
	margin-left: 0%;
}


.image-collage {
	margin: auto;
	width: 47%;

}

.header {
	font-size: 40px;
}
.about-header {
	position: relative;
	top: 450px;
	margin: auto;
	width: 300px;
}

.about-header p {
	width: 220%;
	margin-left: -60%;
	text-align: center;
	font-size: 15px;
}
#courses {
	width: 50%;
	margin-left: 24%;
}
#list-courses {
	margin-left: 15%;
}
.courses-header {
	width: 420px;
}

#list-courses ol li p {
	font-size: 14px;
}

@media screen and (max-width:705px) {
    .image-collage {
        width: 50%;
    }
    #courses {
    	margin-left: 19%;
    }
}
@media screen and (max-width:670px) {
	#about {
		height: 97%;
	}
	.about-header {
		width: 280px;
		
	}
	.two-lines {
        height: 32px;
        border-bottom: 3px solid black;
    }
	

    .image-collage {
        width: 57%;
    }
    #courses {
    	margin-left: 17%;
    }
    .courses-header {
		width: 400px;
	}
}
@media screen and (max-width:615px) {
	.about-header p{
		width: 150%;
		margin-left: -26%;
		
	}
    .image-collage {
        width: 62%;
    }
  
}
@media screen and (max-width:540px) {
    .image-collage {
        width: 74%;
    }
    #courses {
    	margin-left: 15%;
    }
    .courses-header{
    	font-size: 37px;
    	width: 380px;
    }
}


