

/*when screen is small, edit boris yue title
*/#name {
	margin-left: -5%;
}


.image-collage {
	left: 0;
	width: 74%;
	margin: auto;
}

.header {
	font-size: 35px;
}
.about-header {
	top: 390px;
	left: 0;
	margin: auto;
	width: 280px;
}
.about-header p {
	width: 120%;
	margin-left: -10%;
}
.two-lines {
    height: 30px;
    border-bottom: 2px solid black;
}
.skills-header {
	width: 180px;
}
.skill-bar-percent {
	right: 5px;
}
.courses-header {
	width: 340px;
	margin-left: -11%;
}
#list-courses {
	margin-left: 5%;
}

#gpa {
	margin-left: 18%;
}
