body, html {height: 100%; font-family: "Roboto Slab", sans-serif;}


.gradient {
    background: #24C6DC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #24C6DC , #514A9D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #24C6DC , #514A9D);
}

#home {
/*    position: absolute;
*/  margin-top: -20px;
    height: 800px;
    min-height: 100%;
    width: 100%;

}

.nav-bar {
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 68px;
    z-index: 9999;
    list-style-type: none;
    font-size: 18px;
    color: white;
    letter-spacing: 0.6px;
}


/*when page is at certain position, navbar element is highlighted*/
.active {
    color: #47418b !important;
    text-decoration: none !important;
}

.nav-bar li {
    margin-right: 4%;
    margin-top: 20px;
    float: right;

}
#name {
    float: left;
    margin-top: 14px;
    margin-left: 2%;
    font-size: 23px;
    font-weight: 700;
}

li a {
    text-decoration: none !important;
    color: white;
}

/*get rid of annoying bootstrap color change when clicked
*/li a:visited {
    color:white;
}

li a:hover {
    color: #47418b;
    text-decoration: none;
}


/*dropdown menu*/
ul.nav-bar li.icon {
    display: none;
}

#home-header{
    position: relative;
    color: white;
    text-align: center;
    top: 28%;
}
#home-header h1 {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 2%;
    text-shadow: 0.5px 0.5px 2px black;
}
#home-header h2 {
    font-weight: 400;
    font-size: 25px;
    text-shadow: 0.2px 0.2px 1.5px black;
    margin-bottom: 1.5%;
}
/*scroll down icon
*/#home-header .fa {
    color:white;
    text-shadow: 0.2px 0.2px 1px black;
}

#about {
/*    position: relative;
    top: 50;*/
/*    top: 100%; 
*/    
    height: 92%;
    min-height: 700px;
    width: 100%;
    padding: 50px;

}
/*text in between two lines
*/
.two-lines {
    height: 35px;
    border-bottom: 3px solid black;
}

.header {
    width: 330px;
    color: black;
    text-align: center;
    font-size: 45px;
}

.about-header {
    position: absolute;
    margin-top: 140px;
    margin-left: 50%;
    text-align: center;
    font-size: 45px;

}

/*for the two lines*/
div > span {
    background-color: white;
    padding: 0 10px;
}
.about-header p {
    width: 430px;
    margin-left: -30px;
    font-size: 18px;
    text-align: left;
}


.image-collage {
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 2;
    column-gap: 0px; 
    width: 33%;
    margin-top: 50px;
    margin-left: 13%;
/*    rounded thumbnail */   
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    padding: 5px;
} 
.image-collage img {
/*   Just in case there are inline attributes 
*/  width: 100%;
    height: auto;
}

@media screen and (max-width:1200px) {
    .about-header p {
        width: 490px;
        margin-left: -50px;
    }
    .image-collage {
        width: 40%;
        margin-left: 5%;
    }
}

#resume {
/*    position: absolute;
    left: 0;*/
/*    top: 198%;
*/
/*margin-top: 50px;    
*/
    min-height: 700px;
    width: 100%;
    padding: 0.1px;
}


.resume-header {
    height: 180px;
    width: 100%;
    margin-bottom: 2%;
}


.gradient-header {
    text-align: center;
    text-shadow: 0.5px 0.5px 2px black;
    color: white;
    font-size: 42px;
}
.resume-header h1{
    position: relative;
    top: 29%;
    margin-bottom: 60px;  
}

.resume-header hr, .contact-header hr {
    position: relative;
    width: 70px;
    height: 3px;
    background: white;
    box-shadow: 0.5px 0.5px 1px black;
}

.resume-row {
    width: 100%;
    margin-top: 68px;
    overflow: auto;
}

#skills {
/*    display: inline-block;*/ 
    width: 40%;
    float: left;
    margin-left: 6%;
    margin-top: 20px;
}

.skills-header {
    width: 230px;
    margin: 0px auto 40px auto;
}


/*skillbar*/
.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #eee;
    height: 35px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/*for the left title part
*/
.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 13px;
    width: 110px;
    color: #fff;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    line-height: 35px;
 
}

/*animated bar
*/
.skillbar-bar {
    height: 35px;
    width: 0px;
    margin-left: 40px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/*the percent value on the right
*/.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size:11px;
    height: 35px;
    line-height: 35px;
    color: #404040;
}

#courses {
/*    display: inline-block;
*/  width: 40%;
    float: left;
    position: relative;
    margin-top: 20px;
    margin-left: 5%;
}

.courses-header {
    width: 480px;
    margin: 0 auto 40px auto;
}
#gpa {
    font-size: 20px;
    margin: 10px auto;
    text-align: center;
}

#list-courses { 
    width: 320px; 
    margin: auto;
}
#list-courses ol { 
    font-size: 30px; 
    color: #1a8cff;
}
/*for animation*/
#list-courses ol li {
    opacity: 0.0;
}

#list-courses ol li p { 
    color: black;
    padding: 8px; 
    font-size: 16px; 
    border-left: 2px solid #999; 
}
#list-courses ol li p em {
    color: black; 
    font-weight: bold;
    display: block; 
}
#list-courses ol li p em:hover {
    color: #47418b;
}

@keyframes fade-in {
    from {
        opacity: 0.0;
    } to {
        opacity: 1.0;
    }
}

.list-fade-in {
    animation: fade-in 2s;
    opacity: 1.0 !important;
}

#contact {
    width: 100%;
    height: 220px;
    margin-top: 40px;
    padding: 15px;

}
.contact-header h1 {
    margin-top: 10px;
    font-size: 44px;
}

.contact-header hr{
    margin-top: 7px;
    width: 80px;
}

#contact-buttons-row {
    overflow: hidden;
    width: 260px;
    margin: 25px auto 0 auto;
}

/*.contact-buttons-container {
    overflow: hidden;
}*/

#first-button {
    float: left;
    overflow: hidden;
/*    margin-left: 27%;
*/}

#second-button {
    float: left;
    overflow: hidden;
    margin-left: 40px;
}

.contact-buttons {
    float: left;
    color: white;
    font-size: 18px;
    width: 110px;
    padding: 7px 0;
    text-align: center;
    border: 2px solid white;
    box-shadow: 0.5px 0.5px  black;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-decoration: none !important;
}

/*get rid of annoying bootstrap color change when clicked
*/.contact-buttons:visited {
    color:white;
}

.contact-buttons:hover {
    text-decoration: none;
    background: white;
    color: #514A9D;
}

#copyright-row {
    width: 100%;
}

#copyright {
    margin-top: 15px;
    text-align: center; 
    color: white;
}












