#home-header {
	margin-top: 23%;
}

.nav-bar{
	height: 7%
}

.image-collage {
	margin-top: -6%;
	margin-left: 5%;
	width: 42%;

}
.about-header {
	margin-top: 10%;
	width: 40%;
	font-size: 42px;
}
.about-header p {
	font-size: 17px;
}

#resume {
	top: 200%;
}
